{% extends 'base.html' %}

{% block title %}
Edit Profile
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 text-center">
            <form action="sub_edit/" method="post">
              {% csrf_token %}
              
              <h5 class="text-danger mt-3 mb-3">Edit Profile</h5>
              {% if messages %}
              <div class="messages">
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
              </div>
              {% endif %}

              <input type="text" name="fname" value="{{user.firstname}}" class="form-control mt-2">
              <input type="text" name="lname" value="{{user.lastname}}" class="form-control mt-2">
              <input type="email" name="email" value="{{user.email}}" class="form-control mt-2">
              <input type="number" name="phone" value="{{user.phone}}" class="form-control mt-2">
              <button type="submit" class="btn btn-primary form-control mt-2">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}