{% extends 'base.html' %}

{% block title %}
Signup
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 text-center">
            <form action="subreg/" method="post">{% csrf_token %}
            
                <h5 class="text-danger mt-3 mb-3">Sign Up</h5>
                
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <p> {{message}}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                
                <input type="text" name="fname" placeholder="Firstname" class="form-control mt-2"><br>
                <input type="text" name="lname" placeholder="Lastname" class="form-control mt-2"><br>
                <input type="email" name="email" placeholder="email" class="form-control mt-2"><br>
                <input type="password" name="pwd" placeholder="password" class="form-control mt-2"><br>
                <input type="password" name="cpwd" placeholder="Confirm password" class="form-control mt-2"><br>
                <input type="number" name="phone" placeholder="Phone Numer" class="form-control mt-2"><br>
                <button type="submit" class="btn btn-primary form-control mt-2">Sign Up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}